*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   transition: 0.5s;
   font-family: "Century Gothic", sans-serif;
}


.navlist{
   width: 100%;
   position: fixed;
   padding: 5px 10%;
   background-color: #110e2bbb;
}
.navlist ul{
   display: flex;
   list-style: none;
}
.navlist ul li:first-child{
   flex: 1;
   color: #ffffff;
}
.navlist ul li h4{
   font-family: serif;
}
.navlist ul a{
   display: block;
   margin-left: 20px;
   font-family: "Century Gothic", sans-serif;
   font-size: 0.9rem;
   color: white;
   text-decoration: none;
}
.navlist ul a:hover{
   color: #ff8800;
}
h1
{
   text-align: center;
   padding-top: 50px;
   padding-bottom: 20px;

}
input
{
   
}
b
{
   font-size: 20px;
}

button
{
   margin-top: 30px;
   width: 200px;
   height: 50px;
}